@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap");

:root{
    --font-family: 'Pixelify Sans', sans-serif;
    --bg-color: #0b2032;
    --txt-color: #386dbd;
    --white-color: #f4f4f4;
    --border-color: #3978d7;
    --light-border-color: #05c5e7;
    --bg-input-color: #091a29;
}

* {
    font-family: var(--font-family);
}

/* main.html */
.titulo{
    text-align: center;
    color: var(--txt-color);
    font-size: 50px
}

body{
    background-color: var(--bg-color);
}

.formulario{
    text-align: center;
    color: var(--txt-color);
    font-size: 20px;
}

form div {
    display: block;
    margin-bottom: 25px;
}

form input{
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg-input-color);
    color: var(--white-color);
}

form input:focus{
    outline: none;
    border: 1px solid var(--light-border-color);
}

form select{
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg-input-color);
    color: var(--white-color);
}

form select:focus{
    outline: none;
    border: 1px solid var(--light-border-color);
}

.btn_submit{
    background: linear-gradient(90deg, var(--light-border-color) 0%, var(--txt-color) 100%);
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    font-weight: bold;
}

.btn_submit:hover{
    opacity: 0.9;
    background: linear-gradient(90deg, rgb(3, 106, 165) 0%, #2d5593 100%);
}

footer{
    text-align: center;
    color: var(--txt-color);
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}