@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap");

:root{
    --font-family: 'Pixelify Sans', sans-serif;
    --bg-color: #0b2032;
    --txt-color: #386dbd;
    --white-color: #f4f4f4;
    --border-color: #3978d7;
    --light-border-color: #05c5e7;
    --bg-input-color: #091a29;
}

* {
    font-family: var(--font-family);
}

/* main.html */
.titulo{
    text-align: center;
    color: var(--txt-color);
    font-size: 50px
}

body{
    background-color: var(--bg-color);
}

.formulario{
    text-align: center;
    color: var(--txt-color);
    font-size: 20px;
}

form div {
    display: block;
    margin-bottom: 25px;
}

form input{
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg-input-color);
    color: var(--white-color);
}

form input:focus{
    outline: none;
    border: 1px solid var(--light-border-color);
}

form select{
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg-input-color);
    color: var(--white-color);
}

form select:focus{
    outline: none;
    border: 1px solid var(--light-border-color);
}

.btn_submit{
    background: linear-gradient(90deg, var(--light-border-color) 0%, var(--txt-color) 100%);
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    font-weight: bold;
}

.btn_submit:hover{
    opacity: 0.9;
    background: linear-gradient(90deg, rgb(3, 106, 165) 0%, #2d5593 100%);
}

footer{
    text-align: center;
    color: var(--txt-color);
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}


/* game.html */

#grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-size, 5), 1fr);
    gap: 5px;
    max-width: 500px;
    margin: 0 auto;
}

.btn-ship {
    background: var(--txt-color);
    border: none;
    cursor: pointer;
    aspect-ratio: 1/1;
    width: 100%;
}

.btn-ship:hover {
    background: #22477e
}

.hit-small {
    background-color: rgb(72, 132, 15);
}

.hit-medium {
    background-color: rgb(132, 118, 15);
}

.hit-large {
    background-color: rgb(132, 15, 15);
}

.miss {
    background-color: #10b5f1;
}


/* HUD */

#player-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 15px;
    box-sizing: border-box;
}

.main-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hud {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--white-color);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    padding: 12px 20px;
    color: var(--txt-color);
    font-size: 20px;
    font-weight: bold;
    width: 170px;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
